
nRF5340dk/i2c_scanner/build/
nRF5340dk/i2c_ld20/build/
nRF5340dk/ld20_ble/build/
Resources/0Z2A7091.jpg
Resources/cloud.png
Resources/csm_Sensirion_Liquid_Flow_Meters_LD20-2600B_fe1f32bcef.png
Resources/cupping.png
Resources/directly on bed.png
Resources/Form3 Durable.mp4
Resources/ld20 nrf5340dk circuit_bb.png
Resources/Liquid_Flow_AN_Formation_Prevention_Removal_Biofilm.pdf
Resources/logo emboss.png
Resources/microthermal air in line.png
Resources/microthermal.png
Resources/Nordic nRF5340 DK Sensirion LD20 - page 2.png
Resources/Nordic_Semiconductor_Company_Logo.svg
Resources/nRF Connect Bluetooth Low Energy.png
Resources/PayPal_ Transaksjonsdetaljer_resin.pdf
Resources/pin header pattern.png
Resources/rest.png
Resources/section analysis 01.png
Resources/Sensirion_Liquid_Flow_Meters_LD20-B.png
Resources/Sensirion_Liquid_Flow_Meters_LD20.png
Resources/support.png
CAD/nRF5340DK LD20 Enclosure/Bottom v01.form
CAD/nRF5340DK LD20 Enclosure/Bottom v01.stl
CAD/nRF5340DK LD20 Enclosure/Bottom v02.form
CAD/nRF5340DK LD20 Enclosure/Lid v01.stl
CAD/nRF5340DK LD20 Enclosure/Lid v02.form
CAD/nRF5340DK LD20 Enclosure/Mockup v01.form
CAD/nRF5340DK LD20 Enclosure/Mockup v03 3p.form
CAD/Render/609a3260-efb1-4192-a559-226376702591_.png
CAD/Render/609a3260-efb1-4192-a559-226376702591.PNG
CAD/Render/edc60985-9b30-428f-8645-dc7142b6c323_.png
CAD/Render/edc60985-9b30-428f-8645-dc7142b6c323.PNG
CAD/Render/f71a5ffd-e5cd-4836-b88e-a1771259280d.PNG
CAD/Render/nRF5340DK Enclosure bottom 001.PNG
mqtt/nrfcloud.txt
